body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

h2 {
    font-weight: bold;
}

p {
    font-family: sans-serif
}

img {
    border: 1px dashed grey;
}

.flex {
    display: flex;
}

#cardSearchReturn {
    width: 50%;
    border: 1px solid red;
}

#cardsOnBoard {
    border: 1px solid green;
    width: 50%;
}

.card-layout {
    margin: 1px;
    background-color: #dddddd;
    border-radius: 0 3rem 3rem 0;
    border-color: #333333;
}

.card-layout h2 {
    color: orange;
}

.card-layout p {
    color: #333333;
}

